.home{
    /* background-color:aquamarine; */
    width: 100%;
    box-shadow: 0px  0px 5px 1px rgb(12, 45, 56);
    display: flex;
    overflow-x: hidden; 
    overflow-y: hidden;
}

.contacts{
    width: 25%;
    height: 100%;
    /* background-color: pink; */
    box-shadow: 0px  0px 1px 1px rgb(12, 45, 56);
}

.search{
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* gap: 10px; */
    margin-left: 5%;
    margin-right: 10px;
    background-color: #f8f8ff;
    height: 60px;
    width: 90%;
    border: transparent;
}

.search .imgSearch img{
    cursor: pointer;
    width:30px;
    padding-left: 10px;
    height: 25px;
    margin: 5px;
}

.contacts .search .searchInput input{
    font-size: 20px;
    font-weight: 300;
    padding-left: 10px;
    height: 30px;
    width: 250px;
    background-color: #f8f8ff;
    border: none;
    font-family: "Poppins", sans-serif;
}

.contacts .search .searchInput input:focus{
    outline: none;
}


.conversations{
    /* display: flex; */
    margin-left: 10px;
    cursor: pointer;
}

.icons{
    display: flex;
    font-family: "Poppins", sans-serif;
}



.conversations .icons img{
    cursor: pointer;
    width:30px;
    padding: 10px 0px 10px 10px;
    height: 25px;
    margin-left: 180px;
    margin-top: 10px;
    text-align: center;
}

.people{
    overflow: auto;
    height: 580px;
}


.people .person{
    display: flex;
    /* align-items: row; */
    /* margin-bottom: 30px; */
    /* justify-content: center; */
    border: 1px solid #d3d3d3;
    cursor: pointer;
}



.person img{
    cursor: pointer;
    width:80px;
    padding: 10px 0px 10px 10px;
    height: 80px;
    margin-left: 10px;
    margin-top: 5px;
}

.person h3{
    margin-left: 20px;
    margin-top: 30px;
    /* font-size: 20px;
    font-weight: 200; */
    height: 30px;
    font-family: "Poppins", sans-serif;
}

.navLink{
    text-decoration: none;
}

.navLink .person .nameMsg{
    display: flex;
    flex-direction: column;
}
 
.navLink .person .nameMsg p{
    margin-top: -40px;
    margin-left: 20px;
}



